body {
  background: #888;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
    width: 37%;
    margin: auto;
}

.title {
   color: cornflowerblue; 
   font-family: "Roboto"; 
   font-size: 50px; 
   line-height: 100px; 
   font-weight: normal; 
   text-align: center;
   text-shadow: 0 1px 1px #fff;
}

.user {
  display: inline; 
  font-weight: bold;
}

.message {
  display: inline; 
  font-family: 'Roboto', sans-serif;
}


.dateTime {
  margin-left: 10px;
  display: inline;
  color: white;
}


.btn {
margin-top: 20px;
padding: 10px 20px 11px;
font-size: 15px;
background-color: cornflowerblue;
font-weight: bold;
color: #ffffff;
border-radius: 100px;
-moz-border-radius: 100px;
-webkit-border-radius: 100px;
border: 1px solid cornflowerblue;
}

.timeline {
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
}







